
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 140px 53px ;
}
nav ul li{
    list-style: none;
    font-size: 20px;
    color: #8987A1;
    margin-right: 48px;
}
nav ul{
    display: flex;
}
.text-color{
    color: #E95A08;
}
.banner{
    display: flex;
    align-items: center;
    margin:0px 150px 0px 97px;
    justify-content: space-between;
}
.banner-greatings{
    font-size: 65px;
    font-weight: bold;
    margin: 10px;
}
.front{
    color:black;
    font-weight: bold;
}
.banner-drescription{
    font-size: 22px;
    color: #2724249a;
}
.banner-profil-pic{
    width: 570px;
    height: 355px;
}
.banner-drescription{
    margin: 13px;
}
.font-sz{
    font-size: 50px;
    text-align: center
    
    
}
.text-cn{
    text-align: center;
}

    

.card-sections{
    width: 90%;
    margin: auto;
    display: flex;
     justify-content: space-around;
      gap: 20px;
      padding: 20px;
}
    

.card-container{
    width: 100%;
    height:auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 12px;
    margin-bottom: 15px;
    text-align: center;
   
    
}

.button{
    background-color: #E95A08;
    color: white;
    font-weight:bold;
    padding: 12px 70px;
    font-size: 16px;
    border: none;
     
}
.flower-container{
    display: flex;
    justify-content: center;
}
.flower{
    font-size: 50px;
    font-weight: bold;
}
.flower-li{
    margin: 15px;
    color:rgba(0, 0, 0, 0.432) ;
    
}
.row{
    display: flex;
}

/* .rows img{
    width: 100%;
    padding: 50px;
} */
.font-size{
    font-size: 50px;
    font-weight: bold;
    color: white;
}
